/* FiglinQ */
#tools_left {
  grid-area: left;
  border-right: none;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

.panel-block.is-active {
  background-color: #eef8ff;
}

.panel-block.is-active:hover {
  background-color: #eef8ff;
}

.panel-block span {
  pointer-events: none;
}

#modal_add_chart {
  justify-content: flex-start;
}
#modal_add_chart .modal-content {
  top: 20px;
  max-height: calc(100vh - 40px);
}
#fq-modal-item-list-container {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  scrollbar-width: thin;
}

#main_button {
  visibility: hidden;
}

#tool_image {
  display: none;
}

.noselect,
.navbar .navbar-item,
.navbar .navbar-link {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#fq-powered-by-svgedit {
  position: fixed;
  left: 10px;
  color: white !important;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  top: 86px;
}

#fq-powered-by-svgedit strong {
  color: white !important;
  font-weight: bold;  
}

#fq-spinner {
  display: flex;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 52px);
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#zoom {
  margin-right: 4px;
  background-color: var(--input-color);
  border-radius: 3px;
  max-height: 22px !important;  
}

#zoom select {
  background-color: #b2b2b2;
  border: 0;
  max-height: 23px !important;
  padding-top: 2px !important;
}

#title_panel {
  display: none;
}

.panel-block label {
  font-weight: normal;
}

#palette {
  margin-left: unset !important;
}

html {
  overflow-y: hidden !important;
}

.modal-action-panel {
  border-bottom: 0px !important;
}

.breadcrumb ul {
  align-items: center !important;
}

#cmenu_canvas li {
  min-width: 240px !important;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.navbar-item span {
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  #fq-primary-navbar {
    min-height: 60px !important;
  }
}

.panel-list-item .fa-stack {
  vertical-align: middle;
  font-size: 8px;
  width: 1.8em !important;
  margin-right: 1.25em;
}

.panel-list-explanation {
  display: block;
  position: absolute;
  right: 25px;
}

.fq-navbar-button {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #08547d !important;
  border-radius: 5px !important;
  padding: 9px 18px !important;
  height: 2.3em !important;
}
.fq-navbar-text-button {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: white !important;
}

.fq-navbar-button:hover,
.fq-navbar-text-button:hover {
  color: #55bbe7 !important;
  text-decoration: none !important;
}

#fq-main-navbar {
  box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px 0px !important;
  background-color: #08547d;
}

#fq-menu-switch-label {
  position: absolute;
  top: -1px;
  font-size: 1.25em;
}

.switch[type='checkbox'].is-small + label::after,
.switch[type='checkbox'].is-small + label::after {
  background: white !important;
}

.switch[type='checkbox'].is-small + label::before,
.switch[type='checkbox'].is-small + label::before {
  /* border-color: white !important; */
}

.fq-margin-input-link {
  line-height: 28px;
  color: white;
}

.fq-margin-input-link.is-active {
  color: lightgray;
}

.fq-spacing-input-link {
  line-height: 28px;
  color: white;
}

#tool_position:hover {
  cursor: pointer !important;
}

se-button {
  padding-top: 3px;
}

se-select {
  font-size: 12px !important;
  color: white;
}
/* se-spin-input{
  font-size: 12px !important;
  color: white;
} */

.tool_sep {
  margin: 5px 3px !important;
}

#fq-loading-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
}

.navbar.is-info .navbar-item.has-dropdown:hover .navbar-link {
  background-color: #ffffff00 !important;
  color: #fff;
}
.navbar.is-info .navbar-item.has-dropdown:hover .fq-navbar-link {
  background-color: #0d6b9e;
}

.dropdown-item:hover {
  background-color: #0d6b9e !important;
  color: white !important;
}

.fq-navbar-link {
  padding: 2px 10px 4px 10px;
}

.fq-navbar-link:hover {
  background-color: #dbdada;
}

#fq-secondary-navbar {
  z-index: 29;
  height: 28px !important;
  background-color: #e5e5e5;
}

#fq-secondary-navbar .navbar-link.is-arrowless,
#fq-secondary-navbar .dropdown-trigger.is-arrowless {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 14px;
}

#fq-menu-account-navbar-item1 .navbar-dropdown,
#fq-menu-account-navbar-item2 .navbar-dropdown {
  left: auto;
  right: 0;
}

.navbar-dropdown a {
  /* color: #08547d !important; */
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.53, 1);
}
.navbar-dropdown a:hover {
  color: white !important;
  background-color: #08547d !important;
}

#fq-secondary-navbar .navbar-dropdown.is-boxed {
  top: 28px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#fq-menu-account-user-name {
  width: 36px;
  height: 36px;
  background-color: white;
  border: solid 2px white;
  border-radius: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #08547d;
  padding: 0px;
  text-align: center;
  display: block;
  line-height: 32px;
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.53, 1);
}

#fq-menu-account-navbar-item a:hover #fq-menu-account-user-name {
  background-color: #08547d;
  color: white;
}
#fq-menu-account-navbar-item .navbar-dropdown:hover #fq-menu-account-user-name {
  background-color: #08547d;
  color: white;
}

#fq-collections-icon {
  background-image: url('./images/figlinq/collections.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

#fq-collections-link:hover #fq-collections-icon {
  background-image: url('./images/figlinq/collections-white.svg');
}

#fq-menu-account-dropdown-user-name {
  text-transform: capitalize;
}

.icon-text {
  flex-wrap: nowrap !important;
}

#fq-navbar-menu-btn-apps {
  border-left: dashed 1px #4a95be;
  padding-left: 21px;
  height: 40px;
  margin-top: 5px;
}

.fq-modal-adjust-table input[type='text'] {
  padding: 0px;
}
.fq-modal-adjust-table td {
  padding: 2px;
  padding-right: 6px;
}
.fq-modal-adjust-table label {
  user-select: none;
}
.fq-modal-adjust-table button {
  height: 23px;
  margin-top: 1px;
  padding: 0px 6px;
}
.fq-modal-adjust-table .material-icons-outlined {
  font-size: 14px;
}
#fq-modal-adjust .modal-content,
#fq-modal-align .modal-content {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.draggable-source--is-dragging {
  visibility: hidden;
}

.draggable-container {
  pointer-events: none;
}

.draggable-container .box {
  pointer-events: auto;
}

.drag-handle {
  cursor: move;
}

.control .input {
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}

#svgedit-logo {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}

#color_picker {
  top: 200px !important;
}