/* FiglinQ */
#tools_left {
  grid-area: left;
  border-right: none;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

.panel-block.is-active {
  background-color: #eef8ff;
}

.panel-block.is-active:hover {
  background-color: #eef8ff;
}

.panel-block span {
  pointer-events: none;
}

#modal_add_chart {
  justify-content: flex-start;
}
#modal_add_chart .modal-content {
  top: 20px;
  max-height: calc(100vh - 40px);
}
#fq-modal-item-list-container {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  scrollbar-width: thin;
}

#main_button {
  visibility: hidden;
}

#tool_image {
    display: none;
}

.noselect, .navbar .navbar-item, .navbar .navbar-link {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#fq-powered-by-svgedit {
  position: fixed;
  top: 57px;
  left: 10px;
  color: white !important;
  font-size: 11px;
  line-height: 14px;
  display: flex;
}

#fq-powered-by-svgedit strong {
  color: white !important;
  font-weight: bold;
}

#fq-spinner {
  display: flex;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 52px);
  justify-content: center;
  align-items: center;
    pointer-events: none;
}

#zoom{
    margin-right: 4px;
    background-color: var(--input-color);
    border-radius: 3px;
}

#zoom select{
    background-color: #b2b2b2;
    border: 0;
}

.panel-block label{
  font-weight: normal;
}

#palette {
  margin-left: unset !important;
}

html {
  overflow-y: hidden !important;
}

.modal-action-panel {
  border-bottom: 0px !important;
}

.breadcrumb ul {
  align-items: center !important;
}

#cmenu_canvas li{
  min-width: 240px !important;
}

.is-disabled{
  pointer-events: none;
  opacity: 0.5;
}

.navbar-item span{
  pointer-events: none;
}


.panel-list-item .fa-stack{
  vertical-align: middle;
  font-size: 8px;
  width: 1.8em !important;
  margin-right: 1.25em;
}

.panel-list-explanation{
  display: block;
  position: absolute;
  right: 25px;
}

.fq-navbar-button{
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #08547d !important;
  border-radius: 5px !important;
  padding: 9px 18px !important;
  height: 2.3em !important;
}
.fq-navbar-text-button{
  font-weight: 600 !important;
  font-size: 14px !important;
  color: white !important;
}

.fq-navbar-button:hover, .fq-navbar-text-button:hover{
  color: #55bbe7 !important;
  text-decoration: none !important;
}

#fq-main-navbar{
  box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px 0px !important;
  background-color: rgb(8, 84, 125);
}